.vs
node_modules/
ExternalExample
*saveNotForGit*
docs/
install/
dist/
lib/
build/
bin/
obj/
oi4-core_tests/
*.org
*.tmp
*.sav
*.obj
*.7z
*.tar
*DockerTest*
OI4_Dev*
__pycache__
test-reports
_DockerfileCSharpTest.txt
.env
CMakeFiles/
*.cmake
Makefile
CMakeCache.txt
source/baselib/include/SDKVersion.h
.scannerwork/**
.vscode/**
bw-output/**
